* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
}

.toolbox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: steelblue;
  display: flex;
  padding: 1rem;
  border-top: 2px solid slateblue;
}

.toolbox > * {
  height: 45px;
  width: 45px;
  margin-right: 0.5rem;
  border: none;
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.toolbox span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.toolbox > *:last-child {
  margin-left: auto;
}
