* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  border-bottom: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  border-top: 1px solid slateblue;
  display: flex;
  width: 100vw;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}
